<tr>
  <td><%= image_tag product.image.tiny %></td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= item.quantity %></td>
  <td><%= humanized_money_with_symbol item.total_price %></td>
</tr>